<MudDialog>
    <DialogContent>
        <MudContainer>
            <img src="img/download.svg" style="max-width:100px" alt="..." />
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            <h6>Loading...</h6>
        </MudContainer>
    </DialogContent>
</MudDialog>

@code {

}
