@page "/"
@page "/home"
@using MedbaseHybrid.Services
@using MedbaseLibrary.Models;
@inject ISnackbar Snackbar
@using MedbaseLibrary.Services;
@inject NavigationManager navManager;
@inject IApiRepository repository

<PageTitle>Courses</PageTitle>
<MudContainer>
    @if (!CoursesList.Any())
    {
        <LoadingComponent />
    }
    else
    {
        <div class="row pt-5">
            @foreach (Course item in CoursesList)
            {
                <div class="col-6 col-lg-4 col-sm-6 mb-5">
                    <MudCard @onclick="() => GoToTopics(item.CourseRef)">
                        <MudCardMedia Image="@item.ImageURL" Height="100" />
                        <MudCardContent>
                            <MudText Typo="Typo.h6">
                                @item.Title
                            </MudText>
                            <MudText Typo="Typo.body2" Class="d-lg-block d-none">
                                @item.Description
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </div>

            }
        </div>

    }
</MudContainer>

@code {
    private IEnumerable<Course> CoursesList { get; set; } = Enumerable.Empty<Course>();
    private Snackbar snackbar;
    protected override async Task OnInitializedAsync()
    {
        //check if internet is there first
        if (Helpers.InternetAvailable() == true)
        {
            await GetArticlesAsync();
        }
        else
        {
            //if not, show error message
            snackbar = Snackbar.Add("No internet connection. Redirecting to your downloads...", Severity.Success);
            navManager.NavigateTo("/downloads");
        }
    }

    private async Task GetArticlesAsync() => CoursesList = await repository.GetCourses();
    private void GoToTopics(string courseRef)
    {
        navManager.NavigateTo($"/topics/{courseRef}");
    }
}