@page "/articles"
@using MedbaseHybrid.Services;
@inject IApiRepository repository
@inject NavigationManager navManager

<div class="media-scroller">
    @foreach (Article item in allArticles)
    {
        <MudCard @onclick="() => GoToArticle(item.Id)">
            <MudCardMedia Image="@item.ImageURL" Height="100" />
            <MudCardContent>
                <MudText Typo="Typo.h6">
                    @item.Title
                </MudText>
                <MudText Typo="Typo.subtitle2">
                    @item.DatePosted.ToString("dddd, dd MMMM yyyy")
                </MudText>
            </MudCardContent>
        </MudCard>
    }
</div>
@code {
    public IEnumerable<Article> allArticles { get; set; } = Enumerable.Empty<Article>();
    private bool loadingArticles;

    protected async override Task OnInitializedAsync() 
    {
        loadingArticles = true;
        allArticles = await repository.GetArticlesNumbered(3);
        loadingArticles = false;
    }

    private async void GoToArticle(int article)
    {
        await Browser.OpenAsync($"https://medbase.co.zw/article/{article}");
    }
}