@page "/courses"
@inject IApiRepository repository


<div class="container">

    <div class="text-start text-xl-start">
        <h6 class="display-5 fw-bolder text-dark mb-2">Courses🎩</h6>
    </div>

</div>


<div class="media-scroller spans-inline">
    @if (!CoursesList.Any())
    {
        <div class="text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <span class="visible">Loading available courses, please wait a bit...</span>
    }
    else
    {
        @foreach (Course item in CoursesList)
        {
            <div class="media-element">
                <img src="@item.ImageURL" alt="...">
                <h6 class="fw-bold">@item.Title</h6>
                <p>@item.Description</p>
            </div>
        }
    }
</div>


@code {
    private IEnumerable<Course> CoursesList { get; set; } = Enumerable.Empty<Course>();

    protected override Task OnInitializedAsync() => GetHomeDetailsAsync();

    private async Task GetHomeDetailsAsync()
    { 
        CoursesList = await repository.GetCourses();
    }
}
