@page "/settings"

<div class="container-fluid">
    <div class="fixed-top">
        <TopNavBar>
            <div class="container-fluid">
                <span class="navbar-brand text-white mb-0 h1">Settings</span>
            </div>
        </TopNavBar>
    </div>

    <section class="mt-5">
        <div class="card h-100 shadow border-0 mb-2">
            <div class="card-body p-4">
                <h4 class="card-title mb-3">
                    Change Font
                </h4>
                <div class="card-body">
                    <p class="card-text mb-1">
                        Changes the font on the questions page
                    </p>
                    <label>
                        <select @onchange="SetFont" class="form-select">
                            <option value="questions-section-mont-font">Montserrat</option>
                            <option value="questions-section-roboto-font">Roboto</option>
                            <option value="questions-section-roman-font">Gideon Roman</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="card h-100 shadow border-0 mb-2">
            <div class="card-body p-4">
                <h4 class="card-title">
                    Contact Us
                </h4>
                <div class="card-body">
                    <p class="card-text mb-1">
                        Do you like something? Or want to complain about something? Use any of the networks below
                    </p>

                    <div class="row text-center">
                        <div class="col-4">
                            <a class="btn btn-outline-primary" href="https://wa.me/263718086035">WhatsApp</a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-outline-primary" href="https://fb.me/medbase.co.zw">Facebook</a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-outline-primary" href="https://instagram.com/medbase.zw">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card h-100 shadow border-0 mb-2">
            <div class="card-body p-4">
                <h4 class="card-title mb-3">
                    About Medbase
                </h4>
                <div class="card-body">
                    <p class="card-text fw-lighter">
                        Built with Blazor Hybrid & C#
                        <br />
                        App Version @(VersionTracking.Default.CurrentVersion.ToString())
                        <br />
                        <br />
                        Tanaka Mawere ©️ @(DateTime.Now.Year.ToString())
                    </p>
                </div>
            </div>
        </div>

    </section>

    <div class="fixed-bottom">
        <BottomTabs />
    </div>
</div>

@code {
    private void SetFont(ChangeEventArgs e)
    {
        // Set a string value:
        Preferences.Default.Set("questions_font", e.Value.ToString());
    }

    string[] fonts = { "Montserrat", "Roboto", "Gideon Roman" };
}
