<div class="row fixed-bottom" style="min-height:70px">
    <div class="col-3">
        <span class="oi oi-home"></span>
    </div>
    <div class="col-3">
        <span class="oi oi-cloud-download"></span>
    </div>
    <div class="col-3">
        <span class="oi oi-book"></span>
    </div>
    <div class="col-3">
        <span class="oi oi-cog"></span>
    </div>
</div>
@code {

}
