<div class="row text-center bg-white shadow border-2 p-3" style="min-height:20px">
    <NavLink class="col-3" Match="NavLinkMatch.Prefix">
        <a href="/courses"><span class="oi oi-home fs-1"></span></a>
    </NavLink>
    <NavLink class="col-3">
        <a href="/downloads"><span class="oi oi-cloud-download fs-1"></span></a>
    </NavLink>
    <div class="col-3">
        <a href="/articles"><span class="oi oi-book fs-1"></span></a>
    </div>
    <div class="col-3">
        <a href="/settings"><span class="oi oi-cog fs-1"></span></a>
    </div>
</div>
@code {

}
