@inherits LayoutComponentBase

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-1 mb-5">
            @Body
        </article>
    </main>
</div>

