@inherits LayoutComponentBase

<div class="page">
    
    @*<div class="sidebar d-sm-none d-xxl-block d-xl-block">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-1">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-1">
            @Body
        </article>
    </main>
    <BottomTabs />
</div>

