@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-1 mb-5">
            @Body

            <div class="fixed-bottom">
                <BottomTabs />
            </div>
        </article>
    </main>
</div>

