<nav class="navbar" style="background-color:#6397ff">
    @ChildContent
</nav>

@code{
    [Parameter]
    public string NavTitle { get; set; } = "Medbase";
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}